* {font-family: 'Poppins Medium';}
h1, h2, h5 {font-family: 'Poppins ExtraBold';}
h3 {font-family: 'Poppins';}
body {margin: 20px;}

.text1, .text2 {
    margin-right: 6px;
    padding: 8px;
}

.text1 { 
    display: inline;
    height: 10px;
    background-color: lightskyblue;
}

.text2 {
    display: inline-block;
    margin-top: -4px;
    background-color: wheat;
}

#word1, #word2 {height: 60px;}

nav *, aside, main {
    display: inline-block;
}

aside, main {
    padding-top: 20px;
    padding-bottom: 20px;
}

nav * {padding: 16px;}

nav  {
    text-align: center;
    background-color: lightsalmon;   
}

aside {   
    padding-left: 200px;
    padding-right: 200px;
    background-color: lightgreen;
}

main {
    margin-left: -5px;
    padding-left: 253px;
    padding-right: 253px;
    background-color: lightseagreen;
}

footer {
    margin-top: 0px;
    padding-top: 2px;
    padding-bottom: 0.4px;
    text-align: center;
    background-color:lightpink;
}

.semantic {
    border: 2px solid black;
}